html {
  background: #FF7373;
}

.splash {
  background-color: #FF7373;
}

.splash .loading path {
  fill: #fff;
}

header.header-main {
  background-color: #FF7373;
  height:10.5em;
}

.logo {
  background: url('https://vdssupport.github.io/joe/logo_light.png') top center no-repeat;
  display: inline-block;
  max-width: 400px !important;
  background-size: contain;
}

header.header-page {
  background-color:#468499;
}

.header-page .tabs li a {
  border-bottom-color:#468499;
  color: #a2c1cc;
}

.header-page .tabs li a:hover,
.header-page .tabs li a:focus
{
  color: #fff;
}

/* Keep this block only if it looks good. */
.header-page .tabs a.active {
    border-bottom-color: #FF7373;
}

.header-page .buttons button {
  background-color: #FF7373;
  color: #fff;
}

.header-page button {
  background-color: #468499;
  color: #fff;
}

.header-page .buttons button:hover,
.header-page .buttons button:focus 
{
  background-color: #a2c1cc;
  color: #FF7373;

  /* Alternative if the above doesn't look so great.
  background-color: #468499;
  color: #fff;
   */
}

.header-page .filters .filter:hover select,
.header-page .filters .filter:focus-within select {
    background-color: #FF7373;
    color: #fff;
}

.header-page .filters .filter:hover:after,
.header-page .filters .filter:focus-within:after {
    color: #fff;
}

button {
    background-color: #468499;
}

button:hover,
button:focus {
    background-color: #a2c1cc;
}

router-view .buttons button.primary,
#accept-terms,
button.submit-login
{
    background-color: #FF7373;
}

router-view .buttons button.primary:hover,
router-view .buttons button.primary:focus,
#accept-terms:hover,
#accept-terms:focus,
button.submit-login:hover,
button.submit-login:focus
{
    background-color: #b25050;
}

.user-info {
    color: #fff;
}

.user-info a {
    color: #a2c1cc;
}

.user-info a:hover,
.user-info a:focus {
    color: #fff;
}

.open-nav {
    color: #ddd;
}

.open-nav:hover,
.open-nav:focus
{
    color: #fff;
}

.admin-links .fa {
    color: #a2c1cc; /*default #007bff*/
}

table th,
table td {
    background: #a2c1cc;
}

.footer {
    background: #FF7373;	
}

/* Uncomment this block if the organization has a Plus Account.
img.photos--preview {
    border-bottom: 0px;
}
*/

/* Uncomment this block to hide the Download photos button.
   HOWEVER: if the client is downloading photos using an external tool (e.g. RapidCard Elite or the CloudCard Image Server), 
	they should be migrated over to using the `EXTERNAL` download strategy rather than hiding the download button.
button.download_button {
	display: none;
}
*/
